<%- include ../Partials/header.ejs %>

<body style="background-image: url(/Assets/images/background2.jpg); background-size: cover; background-position: center;  ">
    

    <%- include ../Partials/main_nav.ejs %>

    <main class="container py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10" style="background: rgba(0, 0, 0, 0.7);">
                <br>
                <a href="/movieslist/add" class="btn btn-primary mb-3" style="background-color: #E50914; color: white;">
                    <i class="fas fa-plus-circle"></i> Add Movie
                </a>

                <table class="table table-bordered table-striped table-hover bg-white rounded shadow">
                    <thead>
                        <tr class="d-flex">
                            <th class="text-center col-1">Title</th>
                            <th class="text-center col-1">Genre</th>
                            <th class="text-center col-2">Release Year</th>
                            <th class="text-center col-1">Rating</th>
                            <th class="col-4">Description</th>
                            <th class="text-center col-1">Status</th>
                            <th class="text-center col-1">Edit</th>
                            <th class="text-center col-1">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let count = 0; count < MovieList.length; count++) { %>
                        <tr class="d-flex">
                            <td class="text-center col-1"><%= MovieList[count].Title %></td>
                            <td class="text-center col-1"><%= MovieList[count].Genre %></td>
                            <td class="text-center col-2"><%= MovieList[count].ReleaseYear %></td>
                            <td class="text-center col-1"><%= MovieList[count].Rating %></td>
                            <td class="col-4"><%= MovieList[count].Description %></td>
                            <td class="text-center col-1"><%= MovieList[count].Status %></td>
                            <td class="text-center col-1">
                                <a href="/movieslist/edit/<%= MovieList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/movieslist/delete/<%= MovieList[count]._id %>" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
    <%- include ../Partials/footer.ejs %>
